analises/.ipynb_checkpoints
analises/__pycache__
#README.md#
env
app
registros
modelos/bertimbau-hatespeech-v02
tweets/data
tweets/logs/*
!tweets/logs/twitter_id_pool_sources.log
tweets/scored
src/xavy/__pycache__
src/__pycache__
src/last_capture_pid
src/last_rating_pid
trash/
dados/processados/bkp/
modelos/rf_instagram2twitter_validator_v01/
pretest_tweets/